/* ART Common */

/* @group General */

.art-container * {
	font: 11px/1 Verdana;
	margin: 0;
	padding: 0;
	cursor: default;
	outline: none;
}

/* @end */

/* @group Button / Select */

.art-button-content a:link,
.art-button-content a:visited,
.art-button-content a:hover,
.art-button-content a:active {
	display: block;
	text-align: center;
	padding: 4px 12px 5px;
	outline: none;
	border: 0;
	color: #222;
	text-decoration: none;
}

.art-select-content {
	background: transparent url(../Images/select.png) no-repeat center right;
}

.art-select-content a:link,
.art-select-content a:visited,
.art-select-content a:hover,
.art-select-content a:active {
	display: block;
	text-align: left;
	padding: 4px 25px 5px 12px;
	outline: none;
	border: 0;
	color: #222;
	text-decoration: none;
}

.art-menu-current {
	background-image: url(../Images/circle.png);
	background-repeat: no-repeat;
	background-position: 4px center;
}

/* @end */

/* @group TextInput */

.art-textinput input,
.art-textinput textarea {
	font-family: Verdana;
	font-size: 11px;
	padding: 4px 6px 4px;
	color: #555;
}

.art-textinput-focus input,
.art-textinput-focus textarea {
	color: #222;
}

/* @end */

/* @group ToolTip */

.art-tooltip {
	font-size: 10px;
}

.art-tooltip-content,
.art-tooltip-title,
.art-tooltip-status {
	color: #222;
	padding: 3px 6px 4px;
}

/* @end */

/* @group Window */

.art-window-title {
	padding: 5px 8px 5px;
}

.art-window-content {
	padding: 6px 10px;
}

.art-window-content p {
	line-height: 1.5;
	margin-bottom: 1em;
}

.art-window-status {
	line-height: 1.3;
	padding: 3px 8px;
}

.art-window-title,
.art-window-status {
	color: #222;
}

.art-window-blur .art-window-title,
.art-window-blur .art-window-status {
	color: #555;
}

/* the resize handle button is automatically put on the bottom-right of the window */

.art-window-button-handle {
	background-image: url(../Images/button-handle.png);
	height: 18px;
	width: 18px;
}

/* traffic button container */

.art-window-buttons {
	top: 5px;
	right: 7px;
	height: 13px;
	width: 48px;
}

.art-window-blur .art-window-buttons {
	opacity: 0.5;
}

.art-window-buttons:hover .art-window-button {
	background-position: 0 0;
}

/* default state buttons */

.art-window-button {
	top: 0;
	height: 13px;
	width: 12px;
	background-position: 0 -13px;
}

.art-window-button-close {
	background-image: url(../Images/button-close.png);
	left: 36px;
}

.art-window-button-maxi {
	background-image: url(../Images/button-maxi.png);
	left: 0;
}

/* blurred state buttons */

.art-window-button-mini {
	background-image: url(../Images/button-mini.png);
	left: 18px;
}

.art-window-blur .art-window-button-close {
	background-image: url(../Images/button-close-blur.png);
}

.art-window-blur .art-window-button-maxi {
	background-image: url(../Images/button-maxi-blur.png);
}

.art-window-blur .art-window-button-mini {
	background-image: url(../Images/button-mini-blur.png);
}

/* @end */

/* @group Menu */

.art-menu ul {
	list-style: none;
	line-height: 1.5;
}

.art-menu a {
	display: block;
	text-decoration: none;
	padding: 4px 12px;
}

.art-menu a:link,
.art-menu a:visited,
.art-menu a:hover,
.art-menu a:active {
	color: #222;
}

.art-menu .art-menu-selected {
	background-image: url(../Images/gradient.png);
	background-position: center center;
}

.art-menu .art-menu-selected a {
	color: #FFF;
}

.art-menu-content {
	padding: 5px 0;
}

.art-menu-separator {
	height: 10px;
	background: url(../Images/menu-separator.png) repeat-x center center;
}

/* @end */